/*########################  GENERAL ##########################*/
body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    cursor: pointer;
}

figcaption {
    position: absolute;
    bottom: 0;
    left: -100%;
    background: #000;
    color: #fff;
    font-size: 12px;
    padding: 2px 8px;
    transition: all 0.3s ease-in-out;
}

/*########################  HEADER ##########################*/

/*########################  NAVBAR ##########################*/

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-header h1:hover {
    color: rgba(255, 255, 255, 0.8);
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: rgba(255, 255, 255, 0.8);
}

.navbar-header  {
    position: relative;
    z-index: 1;
    margin-bottom: 35px;
}

.navbar-inverse {
    font-family: "Slabo 13px", serif;
    background: transparent;
    position: relative;
    border: none;
    margin-bottom: 0;
    height: 90px;
}

#navbar-collapse {
    position: fixed;
    width: inherit;
    padding-right: 30px;
    padding-left: 15px;
}

.navbar-inverse .navbar-nav>.active>a {
    background: none;
}

.navbar-brand {
    padding: 0 15px;
}

header h1 {
    font-size: 22px;
}

header ul.nav {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}


/*#####################################################################*/

/*########################  MAIN IMAGE ##########################*/

header {
    position: relative;
    z-index: 3;
    background:  url("../images/mainFoto.jpg") top left no-repeat fixed;
    background-size: 100% 100%, cover;
    min-height: 400px;
    width: 100%;
    box-shadow: inset 0 0 100px #000;
}

/*#####################################################################*/
/*#####################################################################*/

/*########################  MAIN CONTENT ##########################*/

main {
    position: relative;
    margin-bottom: 336px;
    padding-top: 80px;
    background: #fff;
    z-index: 2;
}

/*########################  ABOUT SECTION ##########################*/

.aboutPhoto {
    height: 347px;
    width: 347px;
    background: url("../images/businessman.png") top center no-repeat fixed;
    border-radius: 50%;
}

.aboutText {
    padding: 20px 0;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
}

.aboutText h2 {
    font-size: 22px;
    margin-top: 12px;
}

.aboutText p {
    opacity: 0;
    transform: translateX(-20px);
    transition: all 1.6s ease-in-out;
}

.aboutText p.display {
    opacity: 1;
    transform: translateX(0px);
}

/*#####################################################################*/

/*########################  CERTIFICATE IMAGES ##########################*/

.certificates  {
    box-sizing: border-box;
    margin-bottom: 50px;
}

.certificate {
    margin: 0 30px;
    display: inline-block;
    font-size: 12px;
}

.certificates a {
    width: 210px;
    height: 315px;
    opacity: 0;
    transform: translateX(-20px);
    transition: all 0.5s ease-in-out;
    position: relative;
    overflow: hidden;
}

.certificates a img {
    transform: scale(1);
}

.certificates a:hover figcaption {
    left: 0;
}

.certificates a:hover img {
    display: block;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.certificates a.display {
    opacity: 1;
    transform: translateX(0px);
}

/*#####################################################################*/

/*########################  PARALLAX EFFECT ##########################*/

.services .module.parallax {
    height: 400px;
    background: url("../images/accounting.jpg") center center no-repeat fixed;
    background-size: cover;
    -webkit-transition: background-image 0.4s;
    -moz-transition: background-image 0.4s;
    -o-transition: background-image 0.4s;
    transition: background-image 0.4s;
    overflow: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}

.services .module.parallax h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 0;
    margin-bottom: 10px;
}

.services .module.parallax .img-content {
    text-align: center;
    margin-top: 146px;
}

.services .module.parallax .img-content button {
    color: #fff;
    background: transparent;
}

.services .module.parallax .img-content button:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #000;
}

/*#####################################################################*/

/*########################  SERVICES SECTION ##########################*/

.services .services-text {
    padding: 50px 0;
}

.services article {
    padding: 20px 20px;
    background: #fff;
    position: relative;
    height: 300px;
}

.services article li {
    line-height: 20px;
}

.services article h2 {
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.services article h4 {
    font-size: 16px;
}


/*###########################################################*/
/*###########################################################*/

/*########################  FOOTER ##########################*/

footer {
    background: rgba(0, 0, 0, 0) url("../images/dark_leather.jpg") repeat scroll 0 0;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 25px 0;
}

footer h4 {
    text-align: center
}

footer ul {
    list-style: none;
}

footer .footer-left {
    height: 286px;
    line-height: 24px;
}


footer .footer-center {
    border-left: 1px solid #fff;
    height: 286px;
    line-height: 24px;
}

footer .footer-map {
    padding: 15px 15px;
    box-sizing: border-box;
    border-left: 1px solid #fff;
    text-align: center;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 46.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/*###########################################################*/
/*########################  MEDIA QUERIES ##########################*/

@media (max-width: 400px) {
    .aboutPhoto {
        height: 247px;
        width: 247px;
    }
}

@media (max-width: 768px) {
    div#navbar-collapse {
        right: 0;
    }
    footer {
        position: relative;
        padding-top: 0;
    }

    footer .footer-left {
        border-bottom: 1px dotted #fff;
        height: 40px;
    }

    footer .footer-center {
        border-bottom: 1px dotted #fff;
        height: 100px;
    }
    main {
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {
    header {
        height: 100vh;
    }
}
